/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
/* End of CSS reset*/

body {
    font-family: 'Pathway Extreme', sans-serif;
    color: whitesmoke;
    margin: 8px 40px 40px 40px;
    background-image: url(Images/binary_code_green.jpg);
    background-color: #074f57;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 0px;
}

h1 {
   font-size: 60px;
   
   font-weight: bold;
   margin-bottom: 60px;
   margin-top:40px;
}

p {
    font-size: 26px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color:#915ec4;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color:#915ec4;
    font-weight: bold;
    opacity: 0.6;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-height: calc(100vh - 108px);
}

.first-letter {
    color:#915ec4;
    font-weight: bold;
    font-size: 34px;
}

.logotype-dot{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background:#915ec4;
    margin-left: 5px;
}

.box {
    padding: 2px 16px;
    background: linear-gradient(#915ec4, #915ec4) 0 80% / 100% 20px no-repeat;
}

.container {
    font-size: 20px;
    max-width: 1200px;
}

.text-main-color {
    font-size: 72px;
    color:#915ec4;
}

.underline {
    background: linear-gradient(#915ec4, #915ec4) 0 90% / 100% 10px no-repeat;
    padding: 0 6px;
    font-weight: bold;
    font-size: 22px;
}

.skils-div{
    margin-top: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 510px;
    margin: 20px 0;
}

.skills span{
    font-size: 18px;
    border: 2px solid #915ec4;
    opacity: 0.8;
    border-radius: 50px;
    padding: 2px 16px;
}

.bottom-div {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.CTA-text {
    color: #915ec4;
    font-weight: bold;
}

.glow-button {
    padding: 18px 46px;
    margin: 0 80px;
    max-height: 25px;
    white-space: nowrap;
    background-color:#915ec4;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 0 25px #915ec4;
    transition: box-shadow 0.3s ease-in-out;
  }

.glow-button:hover {
    opacity: 0.7;
    color:white;
  }

/* ---------Media Queries - breakpoints mais comuns--------------

tlm: 640px
tablet: 768px
laptop: 1024px
desktop: 1280px
xl desktop:1580px */

@media screen and (max-width: 640px) {
     .box {
        padding: 0 4px;
        background: linear-gradient(#915ec4, #915ec4) 0 80% / 100% 10px no-repeat;
    }
    
    .text-main-color {
        font-size: 44px;
        color:#915ec4;
    }

    .skils-div{
        text-align: center;
    }

    .skills span{
        font-size: 14px;
    }

    .bottom-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: unset;
        background-image: url(Images/binary_code_green.jpg);
    }

    h1 {
        font-size: 48px;
        text-align: center;
        font-weight: bold;
    }

    .box {
        padding: 0 4px;
        background: linear-gradient(#915ec4, #915ec4) 0 80% / 100% 10px no-repeat;
    }
    
    .main{
        background: rgba(0,0,0,0.2);
    }

    .container {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .text-main-color {
        font-size: 44px;
        color:#915ec4;
    }

    .skils-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .skills{
        justify-content: center;
    }
    .skills span{
        font-size: 14px;
    }

    .bottom-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .CTA-text {
        color: #915ec4;
        font-weight: bold;
        margin: 40px 0 30px 0;
    }

    .glow-button {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1580px) {
    .container {
        font-size: 24px;
    }
}