/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
/* End of CSS reset*/

body {
    font-family: 'Pathway Extreme', sans-serif;
    background-image: url(Images/binary_code_blue.jpg);
    background-color: #074f57;
    background-size: cover;
    margin: 80px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
}

h1 {
   font-size: 36px;
   color: whitesmoke;
   font-weight: bold;
   margin-bottom: 70px;
}

div {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}

p {
    color: whitesmoke;
    font-size: 26px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color:#5FCEC7;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color:#5FCEC7;
    font-weight: bold;
    opacity: 0.6;
}

.logotype {
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    background-color: #5FCEC7;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 180px;
}

.logotype-dot{
    color:#5FCEC7;
    font-weight: bold;
    font-size: 80px;
}

.box {
    background-color: #5FCEC7;
    border-radius: 50px;
    padding: 0 16px;
    line-height: 60px;
    max-height: 20px;  /*perceber porque não consigo reduzir a height*/
}

.container {
    color: whitesmoke;
    font-size: 18px;
    margin: 40px 0;
    padding-right: 40%;
}

.text-main-color {
    font-size: 50px;
    color:#5FCEC7;
}

.skills {
    font-size: 18px;
    margin-top: 20px;
    color: whitesmoke;
    border: 2px solid #5FCEC7;
    opacity: 0.8;
    border-radius: 50px;
    padding: 2px 16px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CTA-text {
    color: #5FCEC7;
    font-weight: bold;
}

.glow-button {
    padding: 6px 20px;
    margin-right: 500px;
    max-height: 25px;
    background-color:#5FCEC7;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 10px #5FCEC7;
    transition: box-shadow 0.3s ease-in-out;
  }

  /*.glow-button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background-color: #4CAF50;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }*/

  .glow-button:hover {
    opacity: 0.3;
    color:white;
  }