/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
/* End of CSS reset*/

body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Pathway Extreme', sans-serif;
    height:100vh;
    margin: 0 100px 0 100px;
    background-image: url(Images/binary_code_blue.jpg);
    background-color: #074f57;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    height: 60px;
    position: relative;
    bottom: 0px;
}

h1 {
   font-size: 60px;
   color: whitesmoke;
   font-weight: bold;
   margin-bottom: 60px;
   margin-top:40px;
}

p {
    color: whitesmoke;
    font-size: 26px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color:#5FCEC7;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color:#5FCEC7;
    font-weight: bold;
    opacity: 0.6;
}

.first-letter {
    color:#5FCEC7;
    font-weight: bold;
    font-size: 34px;
}

.logotype {
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    background-color: #5FCEC7;
    border-radius: 50%;
}

.logotype-dot{
    color:#5FCEC7;
    font-weight: bold;
    font-size: 80px;
}

.box {
    background-color: #5FCEC7;
    border-radius: 50px;
    padding: 2px 16px;
    /*height: auto;  perceber porque não consigo reduzir a height*/
}

.container {
    color: whitesmoke;
    font-size: 18px;
    margin-bottom: 20px;
    padding-right: 30%;
}

.text-main-color {
    font-size: 72px;
    color:#5FCEC7;
}

.underline {
    text-decoration: underline 3px;
    text-decoration-color:#5FCEC7;
    text-underline-offset: 3px;
}

.skils-div {
    line-height: 40px;
}

.skills {
    font-size: 18px;
    margin-top: 20px;
    color: whitesmoke;
    border: 2px solid #5FCEC7;
    opacity: 0.8;
    border-radius: 50px;
    padding: 2px 16px;
}

.bottom-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 120px;
}

.CTA-text {
    color: #5FCEC7;
    font-weight: bold;
}

.glow-button {
    padding: 10px 30px;
    margin-left: 80px;
    max-height: 25px;
    white-space: nowrap;
    background-color:#5FCEC7;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 0 25px #5FCEC7;
    transition: box-shadow 0.3s ease-in-out;
  }

/*.glow-button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background-color: #4CAF50;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }*/

.glow-button:hover {
    opacity: 0.3;
    color:white;
  }

/* ---------Media Queries - breakpoints mais comuns--------------

tlm: 640px
tablet: 768px
laptop: 1024px
desktop: 1280px
xl desktop:1580px */

@media screen and (max-width: 640px) {
    body {
        background-image: unset;
        background-image: url(Images/binary_code_blue_vertical.jpg);
        background-color: #074f57;
        background-size: cover;
        background-position: center;
    }

    .container {
        padding: 0 20px;
    }
}